body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  color: #333;
  transition: 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4CAF50;
  color: white;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul :hover {
  text-decoration: underline;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 40px;
  background: white;
}

header img {
  width: 150px;
  border-radius: 50%;
}

section {
  padding: 40px;
  text-align: center;
}
section#about p{
  padding: 2px;
  margin-right: 100px;
  margin-left: 150px;
  text-align: left;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: #4CAF50;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
}

.project {
  background: white;
  margin: 15px auto;
  padding: 20px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}

footer {
  text-align: center;
  background: #4CAF50;
  color: white;
  padding: 15px;
}

/* Dark Mode */
